<!-- views/partials/_footer.ejs -->
<!-- <div id="copyright">
    <p>Copyright © 2020 CashNCarry.com. All rights reserved. (
        <a href="https://i.imgur.com/3fnTiRI.mp4" target="_blank">Terms of Use</a>
        ,
        <a href="https://i.imgur.com/3fnTiRI.mp4" target="_blank">Privacy Policy</a>
        )
    </p>
</div> -->

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/toggle-menu.js"></script>
<script type="text/javascript" src="/scripts/set-active-link.js"></script>
