<!-- views/partials/_footer.ejs -->
<article id="footer" class="footer_menu_container">
    <div class="footer_menu">
        <p class="footer_category">Advertisers</p>
        <ul class="footer_content">
            <li>
                CurbStomp.inc
            </li>
            <li>
                SurreyBoys
            </li>
            <li>
                BigFoigs
            </li>
        </ul>
    </div>
    <div class="footer_menu">
        <p class="footer_category">About us</p>
        <ul class="footer_content">

        </ul>
    </div>
    <div class="footer_menu">
        <p class="footer_category">Contact us</p>
        <ul class="footer_content">

        </ul>
    </div>
    <div class="footer_menu">
        <p class="footer_category">Contact us</p>
        <ul class="footer_content">

        </ul>
    </div>
</article>

<div id="copyright">
    <p>Copyright © 2020 CashNCarry.com. All rights reserved. (
        <a href="https://i.imgur.com/3fnTiRI.mp4" target="_blank">Terms of Use</a>
        ,
        <a href="https://i.imgur.com/3fnTiRI.mp4" target="_blank">Privacy Policy</a>
        )
    </p>
</div>

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/toggle-menu.js"></script>
<script type="text/javascript" src="/scripts/set-active-link.js"></script>
