<!-- views/partials/_header.ejs -->
<a href="/" class="logo">Cash N' Carry</a>
<div class="menu-toggle"></div>
<nav>
  <ul class="panels">
    <li><a href="/">Home</a></li>
    <li><a href="/products">Listings</a></li>
    <li><a href="/products/new">New</a></li>
    <li><a href="/products/favorites">Favorites</a></li>
  </ul>
</nav>
<div class="clearfix"></div>
