<!-- views/partials/_header.ejs -->
<a href="#" class="logo">Cash N' Carry</a>
<div class="menu-toggle"></div>
<nav>
  <ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/products">All Products</a></li>
    <li><a href="/products/new">Create a Posting</a></li>
    <li><a href="/products/favorites">My Fav</a></li>
    <li><a href="/messages">My Messages</a></li>
  </ul>
</nav>
<div class="clearfix"></div>
