<!-- views/partials/_messenger.ejs -->
<div id="chat-circle" class="btn btn-raised">
<<<<<<< HEAD
    <div id="chat-overlay">

    </div>
    <!-- <i class="fas fa-phone"></i> -->

=======
    <a style="text-align: center;">Chat</a>
>>>>>>> 244aa61acdfebcc14ee5fab5382e1c58e869ce89
</div>

<div class="chat-box">
    <div class="chat-box-header">
        <!-- title -->
      <%= title %>


        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
    </div>
    <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>
        <div class="chat-logs">

        </div>
        <!--chat-log -->
    </div>
    <div class="chat-input">
        <form>
            <input type="text" id="chat-input" placeholder="Send a message..." />
            <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
        </form>
    </div>
</div>
