<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/_head') %>
  </head>
  <body>
    <header>
      <%- include('./partials/_header') %>
    </header>



    <footer><%- include('./partials/_footer') %></footer>

    <!-- Display all users -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </body>
</html>
