<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash N' Carry</title>
</head>
<body>
    <form>
        <div>
            <label for="title">title</label>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div>
            <label for="description">description</label>
            <input type="text" name="description" placeholder="Description">
        </div>
        <div>
            <label for="price">price</label>
            <input type="number" name="price" placeholder="Price">
        </div>
        <div>
            <label for="quantity">quantity</label>
            <input type="number" name="quantity" placeholder="Quantity">
        </div>
        <div>
            <label for="location">location</label>
            <input type="text" name="location" placeholder="Location">
        </div>
        <div>
            <label for="cover_photo_url">cover_photo_url</label>
            <input type="text" name="cover_photo_url" placeholder="Cover Photo">
        </div>
        <div>
            <label for="product_photo_url">product_photo_url</label>
            <input type="text" name="product_photo_url" placeholder="Product Photo">
        </div>
        <div>
            <button>Post</button>
            <button>Cancel</button>
        </div>
    </form>
</body>
</html>