<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
</head>
<body>
  <header><%- include('./partials/_header') %></header>



  <footer><%- include('./partials/_footer') %></footer>
  <script type="text/javascript" src="/scripts/components/product-listing.js"></script>

</body>
</html>
