<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
  <link rel="stylesheet" href="/styles/filter-price.css" type="text/css" />
</head>
<body>
  <header><%- include('./partials/_header') %></header>
  <main>
    <div id="filter">
      <p class="budget">What is your budget?</p>
      <label for="range">
        <input type="range" name="range" id="range" min="0" max="5000" step="5" value="65" />
      </label>
      <output for="range" class="output">$65</output>
    </div>

    <article>
      <div class="container" id="products-container"></div>
    </article>

  </main>

  <footer><%- include('./partials/_footer') %></footer>
  <script type="text/javascript" src="/scripts/components/list-product.js"></script>
  <script type="text/javascript" src="/scripts/components/filter-by-price.js"></script>
</body>
</html>
