<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
  <!-- <link rel="stylesheet" href="/styles/filter-price.css" type="text/css" /> -->
</head>
<body>
  <header><%- include('./partials/_header') %></header>
  <main>
    <article>
      <div class="container" id="products-container"></div>
    </article>

  </main>

  <footer><%- include('./partials/_footer') %></footer>
  <script type="text/javascript" src="/scripts/components/list-product.js"></script>
  <script type="text/javascript" src="/scripts/components/list-favorite.js"></script>
</body>
</html>
